.contenedor-login {
    width: 300px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
  }
  
  h1 {
    text-align: center;
    margin-top: 0;
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #0099ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  a {
    text-align: right;
    margin-top: 10px;
    color: #0099ff;
  }
  