*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 0;
}


h1 {
  margin: 0;
}

a{
  text-decoration: none;
  color: #333;
}
main{
  display: grid;
  grid-template-columns: 1fr;
}

@media(width >= 768px){
  main{
    grid-template-columns: 20% 80%;
 
  }
}
aside{
  border: 1px solid black;
}

.titulo{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.titulo > a{
  background-color: orangered;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

.titulo > a:hover{
  background-color: #ff5722;
}

.datos-usuario, .articulos {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.datos-usuario h2, .articulos h2 {
  margin-top: 0;
}

.datos-usuario ul {
  list-style: none;
  padding: 0;
}

.datos-usuario ul li {
  margin-bottom: 5px;
}

.lista-articulos  {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
}

.articulos ul li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.acciones {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: .5rem;
}

.acciones a {
  color: black;
}

#btn-modificar, #btn-eliminar {
  margin: 0 10px;
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

#btn-modificar:hover, #btn-eliminar:hover {
  background-color: #ddd;
}

.logout{
  color: red;
}