
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100%;
}
header{
  width: 100%;
  padding: 1rem;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
}

a{
  text-decoration: none;
}
.user{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.logout{
  background-color: #007bff;
  padding: .5rem 1rem;
  color: white;
  border-radius: 5px;
 
}

.main{
 display: flex;
 flex-direction: column;
 justify-content: start;
  align-items: center;
  margin-inline: auto;
  gap: 2rem;
  padding: 1rem;
}



/* Formulario */

.formulario {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.formulario label {
  margin-bottom: 5px;
  font-weight: bold;
}

.formulario input,
.formulario textarea,
.formulario select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
}

.formulario button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
  cursor: pointer;
}

/* Tabla de Noticias */

.tabla-noticias {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
}

.tabla-noticias th {
  background-color: #004080;
  color: #fff;
  padding: 5px;
  text-align: center;
}

.tabla-noticias td {
  padding: 5px;
  border: 1px solid #ddd;
}

.tabla-noticias td img {
  width: 100px;
}

.tabla-noticias > td > a {
  color: #004080;
}

.tabla-noticias .ordenar {
  cursor: pointer;
}

.tabla-noticias .ordenar:hover {
  color: #007bff;
}
 
.th{
  color: white;
}