*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
 }

 section:first-of-type{
  display: flex;
  flex-direction: column;
  align-items: center;
 }

button{
  padding: .5rem;
  background-color: antiquewhite;
  border:none;
  border-radius: 5px;
  width: 10rem;
  margin: 0 auto;
}
.primera,.segunda{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.primera > div, .segunda > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.listado{

  align-self: start;
  margin:1.5rem;
  

}
.listado  li{
  padding: .5rem;
}

.listado ol{
  counter-reset: item;
  list-style-type: none;
}

.listado li::before{
  content: counter(item) ". ";
  counter-increment: item;
}
.listado li:nth-child(odd){
  background-color: rgb(77, 85, 102);
  color: white;
}
.listado li:nth-child(even){
  background-color: white;
  color: rgb(77, 85, 102);
}

input{
  height: 2rem;
}
@media(width >= 992px){
  .container{
    
    margin: 0 auto;
    flex-direction: row;
    align-items: start;
  }
  
  .primera,.segunda  div{
    width: 100%;
    display: flex;
    flex-direction:column ;
  }
  button:not(#cartaBtn){
    width: 100%;
  }
  

  
}
