* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-image: url(./img/fondo.webp);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
}

header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: 75px;
}

img {
  width: 100%;
  height: auto;
}

main {
  width: 100%;
  height: 80vh;
  display: grid;
  place-items: center;
  padding:1rem;
}

h1 {
  color: #fff;
}

h2,
p {
  font-size: 2rem;
  text-align:center;
}



footer {
  width:100%;
  color: #fff;
  font-size: 1rem;
  padding: 1rem;
  display:flex;
  justify-content: space-between;
  align-items:center;
}

footer > p {
  font-size: 1rem;
}

.github{
  background-color:transparent;
  width:75px;
}

.links{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-inline: auto;
  gap: 1rem;
}

a {
  background-color: #661C46;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  padding: .25rem .5rem;
  border-radius: 10px;
  border: none;

  &:hover {
    transform: scale(1.1);
    transition: all ease-in-out 300ms;
  }
}

@media(width >= 768px){
  footer > p{
    font-size:1.5rem;
  }
}

@media(width >= 900px){
  footer{
    width:50%
  }

  .links{
    flex-direction: row;
    width: 80%;
  }
 
}